<app-main-tamplate>
  <div class="shopping-cart">
    <h2>Your Shopping Cart</h2>
    @if (cartBooks.length > 0) {
    <ul>
      @for (book of cartBooks; track $index) {
      <li>
        <h3>{{ book.title }}</h3>
        <button (click)="removeBook(book)">
          <span class="material-icons"> delete </span>
        </button>
        <p>Price: ${{ book.price }}</p>
      </li>
      }
    </ul>

    }@else {
    <p>The cart is empty.</p>
    }
    <h3>Total Cost: {{ totalCost }}€</h3>
  </div>
</app-main-tamplate>
