<app-main-tamplate>
  <div class="shopping-cart">
    <h2>Your Shopping Cart</h2>
    @if (cartBooks.length > 0) {
    <ul>
      @for (book of cartBooks; track $index) {
      <li>
        <h3>{{ book.book.title }}</h3>
        <div class="quantity-controls">
          <button
            class="quantity"
            (click)="decrementQuantity(book.book)"
            [disabled]="book.quantity <= 1"
          >
            -
          </button>
          {{ book.quantity }}
          <button class="quantity" (click)="incrementQuantity(book.book)">
            +
          </button>
        </div>
        <button (click)="removeBook(book.book)" class="delete">
          <span class="material-icons"> delete </span>
        </button>
        <p>Price: {{ book.book.price }}€</p>
      </li>
      }
    </ul>

    }@else {
    <p>The cart is empty.</p>
    }
    <h3>Total Cost: {{ totalCost }}€</h3>
    <button (click)="sendOrder()" class="send-order">SEND ORDER</button>
  </div>
</app-main-tamplate>
