.books-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul {
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  width: 100%;
  max-width: 1200px;
}

li {
  position: relative;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 16px;
  text-align: center;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  cursor: pointer;
}

li:hover {
  transform: scale(1.03);
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.15);
}

li img {
  width: 100%;
  height: auto;
  max-height: 250px;
  object-fit: cover;
  border-radius: 6px;
  margin-bottom: 12px;
}

h3 {
  font-size: 1.25em;
  color: #333;
  margin: 8px 0;
  font-weight: bold;
}

.description {
  font-size: 0.9em;
  color: #666;
  line-height: 1.4;
}

h6 {
  font-size: 1em;
  color: #007b5e;
  margin: 8px 0;
}

.hover-add {
  opacity: 0;
  visibility: hidden;
  padding: 8px 6px;
  margin: 0px;
  font-size: 0.8em;
  background-color: #36f601;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: opacity 0.3s ease, visibility 0s 0.3s;
}

li:hover .hover-add {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease, visibility 0s;
}

.added-message {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 14px;
  color: #4caf50;
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.3s ease;
  opacity: 1;
}

.add-book {
  color: #4caf50;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 100%;
  cursor: pointer;
  font-size: 1.2rem;
}

.delete-book {
  position: absolute;
  border: none;
  background: none;
  color: red;
  cursor: pointer;
  top: 3px;
  right: 0px;
}

.delete-book:hover {
  transform: scale(1.02);
  color: rgb(248, 91, 91);
  text-shadow: 0 0 2px black, 0 0 2px rgb(11, 32, 50);
}

.update-book {
  background-color: #007b5e;
  color: #ffffff;
  border: none;
  border-radius: 3px;
  font-weight: bold;
  padding: 5px;
  cursor: pointer;
}
.update-book:hover {
  background-color: #ffffff;
  color: #007b5e;
  border: #007b5e solid 1px;
}
