h1 {
  cursor: default;
  font-size: 35px;
}
.order {
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 20px;
  background-color: #f9f9f9;
  border-radius: 5px;
  cursor: default;
}

.order h3 {
  font-weight: bold;
  margin-top: 10px;
  font-size: 1.3rem;
  font-weight: bold;
  cursor: default;
}

.date {
  font-size: 0.9rem;
  color: #777;
  margin-top: -10px;
  cursor: default;
}

.total-cost {
  text-align: right;
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 15px;
  color: #333;
  cursor: default;
}

.books {
  font-weight: bold;
  cursor: default;
}

ul {
  padding-left: 20px;
  list-style-type: none;
  cursor: default;
}

ul li {
  margin-bottom: 5px;
  cursor: default;
}

.manage-account {
  border: none;
  background: none;
  cursor: pointer;
  position: absolute;
  right: 10px;
}
.manage-account:hover {
  text-shadow: 1px 0px 2px #595757;
  color: #595757;
  transform: scale(1.1);
}
