<app-homepage-background>
  <div class="signup-card">
    <div class="header">
      <button routerLink="" type="button" class="back">↩</button>
      <h2>Sign Up</h2>
    </div>
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" [(ngModel)]="name" required />
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          name="email"
          [(ngModel)]="email"
          #emailField="ngModel"
          required
          email
        />
        @if (emailField.invalid && emailField.touched) {
        <div class="error-message">
          @if (emailField.errors?.['required']) {
          <small>Email is required.</small>
          } @if (emailField.errors?.['email']) {
          <small>Enter a valid email address.</small>
          }
        </div>
        }
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          name="password"
          [(ngModel)]="password"
          #passwordF="ngModel"
          minlength="5"
          required
        />
        @if (passwordF.invalid && passwordF.touched) {
        <div class="error-message">
          @if (passwordF.errors?.['minlength']) {
          <small>Password must be at least 5 characters.</small>
          }
        </div>
        }
      </div>
      @if (errorMessage) {
      <div class="error-message">
        {{ errorMessage }}
      </div>
      }
      <button type="submit" class="btn-signup">Submit</button>
    </form>
  </div>
</app-homepage-background>
