<div class="shop-background">
  <header class="shop-header">
    <div class="header-content">
      <button routerLink="/home" class="icon-button" aria-label="Home">
        <span class="material-icons">home</span>
      </button>
      @if (isAdmin) {
      <button
        routerLink="/all-users"
        class="icon-button"
        aria-label="My Profile"
      >
        <span class="material-icons"> view_list </span>
      </button>
      } @else {
      <button
        routerLink="/my-orders"
        class="icon-button"
        aria-label="My Profile"
      >
        <span class="material-icons">account_circle</span>
      </button>
      }
      <h1>Book Store</h1>
      <button
        routerLink="/shopping-card"
        class="icon-button"
        aria-label="Shopping Cart"
      >
        <span class="material-icons">shopping_cart</span>
      </button>
      <button (click)="logout()" class="logout" aria-label="logout">
        <span class="material-icons"> logout </span>
      </button>
    </div>
  </header>

  <div class="content">
    <ng-content></ng-content>
  </div>
</div>
