.my-profile-container {
  max-width: 600px;
  margin: auto;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

  .back {
    position: absolute;
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    margin-right: 10px;
    padding: 0;
  }

  h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  .form-group {
    margin-bottom: 15px;

    label {
      display: block;
      margin-bottom: 5px;
    }

    input {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
  }

  .btn-submit {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background-color: #45a049;
    }
  }

  .delete-acc {
    border: none;
    background: none;
    cursor: pointer;
    text-decoration-line: underline;
    margin-top: 15px;
    font-size: 1.5vh;
    color: red;

    &:hover {
      color: rgb(135, 27, 27);
    }
  }
}
